<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <title>HOME PAGE</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="navbar">
                <p class="title">Art Challenge</p>
                <div class="dropdown">
                    <button class="dropbtn">Challenges</button>
                    <div class="dropdown-content">
                        <a href="#">Join challenge</a>
                        <a href="#">My challenges</a>
                    </div>
                </div>
                <button>Browse art</button>
                <button>Dashboard</button>
            </div>
            <div><button class="login-btn">Login</button>
                <button class="signup-btn">Sign up</button>
            </div>
        </header>
        <main class="home-page">
            <div>
                <h1>Welcome to Art Challenge</h1>
                <h2>no matter if you are a professional or beginner,<br>
                    joins us today and improve your art</h2>
                <button class="big-btn">GET STARTED</button>
            </div>
        </main>
    </div>
</body>