<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/header.css">
    <link rel="stylesheet" type="text/css" href="public/css/user-collection.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <title>MY COLLECTION</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="navbar">
                <p class="title">Art Challenge</p>
                <div class="dropdown">
                    <button class="dropbtn">Challenges</button>
                    <div class="dropdown-content">
                        <a href="#">Join challenge</a>
                        <a href="#">My challenges</a>
                    </div>
                </div>
                <button>Browse art</button>
                <button>Dashboard</button>
            </div>
            <div><button class="login-btn">Login</button>
                <button class="signup-btn">Sign up</button>
            </div>
        </header>
        <main>
            <div class="content-container">
                <h1>My Collection</h1>
                <div class="grid-container">
                    <img src="public/img/drawing_cat_1.png" class="collection-image">
                    <img src="public/img/drawing_cat_2.png" class="collection-image">
                    <img src="public/img/drawing_cat_3.png" class="collection-image">
                    <img src="public/img/drawing_landscape_1.png" class="collection-image">
                    <img src="public/img/drawing_landscape_2.png" class="collection-image">
                    <img src="public/img/drawing_face.png" class="collection-image">
                </div>
            </div>
        </main>
    </div>
</body>