table {
    margin-top: 15vh;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #00bda2;
    font-weight: bold;
}

tr td:last-child {
    width: 60px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fa-xmark {
    scale: 200%;
    color: darkred;
    cursor: pointer;
}

.fa-xmark:hover {
    color: red;
}