#challenges {
    margin-top: 0;
}

#challenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#challenges form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

.challenge-topic {
    font-size: 4em;
    margin-bottom: 0;
}

.counter {
    color: #005247;
    font-size: 1.5em;
    font-weight: lighter;
}

.uploaded{  
    max-height: 50vh;
    border-radius: 1em;
}