#challenges {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20%;
}

#challenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#challenges form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

#time-left {
    color: #005247;
    font-size: 1.5em;
    font-weight: lighter;
}

.challenge-topic {
    font-size: 4em;
    margin-bottom: 0;
    text-align: center;
}

.uploaded {
    max-height: 50vh;
    border-radius: 1em;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.messages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-device-width: 900px) {
    #time-left {
        font-size: 4.5vw;
    }

    .challenge-topic {
        font-size: 12vw;
    }
}