.tab-menu {
    display: flex;
    column-gap: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    cursor: pointer;
}

.tab-menu *:hover {
    color: #005247;
}

.selected {
    color: #00bda2;
}

.challenge-topic {
    margin-top: 1em;
    font-size: 4em;
    margin-bottom: 0;
}

.counter {
    color: #005247;
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 2em;
}