body {
    margin: 0;
}

body * {
    font-family: "Aleo", serif;
    transition: all 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FF9700 0%, white 100%) 0 0 no-repeat padding-box;
    background-size: 100% 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10vh;
}

.home-page {
    background-size: 100%;
    padding-top: 10vh;
}

h1 {
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 0.4em;
    margin-bottom: 3em;
}

.big-btn {
    background: transparent linear-gradient(180deg, #000000 0%, #262626 100%);
    box-shadow: 0 3px 6px #00000029;
    border-radius: 30px;

    width: 400px;
    border: none;
    color: white;
    line-height: 2.3em;

    font-family: "Cairo", serif;
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
}

.big-btn:hover {
    background: transparent linear-gradient(180deg, #313131 0%, #262626 100%);
}

.form-page {
    background: white;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-page h2 {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

.form-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-page h3 {
    color: black;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.1em;
}

.form-page input {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.1em;
    padding: 0.7em 1em;
    margin-bottom: 0.4em;
}

.form-page .file-input {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0.7em 1em;
    margin-bottom: 0.4em;
}

.form-page button {
    background: #005247;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 30px;

    width: 350px;
    border: none;
    color: white;
    line-height: 2em;

    font-family: "Cairo", serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 3em;
    cursor: pointer;
}

.form-page button:hover {
    background: #00bda2;
}

.row-a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1em;

    font-size: 1em;
    font-weight: lighter;
}

.row-a a:visited {
    text-decoration: none;
    color: inherit;
}