.content-container {
  margin: 3em 5em;
}

.grid-container {
  display: grid;
  margin-top: 15vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  overflow: auto;
}

.collection-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2em;
}